*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('newyork.jpg');
    background-position: center;
    background-size: cover;

}
.container {
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative; /* Added this for positioning */
    overflow: hidden;
}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}
.container form{
    width:280px;
    position: relative;
    top: 100px;
    left: 40px;
    transition: 0.5s;

}
form input{
    width: 100%;
    padding :10px 5px;
    margin: 5px 0px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
#Form2, #Form3 {
    position: absolute;
    top: 450px;
    width: 300px; /* Adjust width as needed */
}

#Form2 {
    top: 85px;
    left: 500px; /* Adjust horizontal positioning */
}

#Form3 {
    top: 85px;
    left: 500px; /* Adjust horizontal positioning */
}
.step-row {
    width: 545px;
    height: 40px;
    margin: -295px -50px; /* Adjust margin-top to move it down or up as needed */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the steps horizontally */
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width:130px;
    text-align: left;
    color: #333;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    left: 50px;
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px  solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
}
